h1{
    font-family: 'GFS Didot', serif;
    font-size: 64px !important;

}

.price{
    font-size: 46px !important;
    font-family: 'Lato', sans-serif;
    margin-bottom: -10px;
}

.container{
    padding-top:55px;
    border-collapse: collapse;
}

.left-side{
    float: left;
    width: 30%;
    height: 800px;

}

.right-side{
    float: right;
    width: 30%;


}

.lower-sec{

        position: relative;
        bottom: 0;
}

